{:aliases {:dev  {:extra-paths ["dev" "test"]
                  :extra-deps  {org.clojure/test.check
                                {:mvn/version "0.10.0"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check
                                {:mvn/version "0.10.0"}
                                com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}
           :vers {:extra-deps {olical/depot
                               {:mvn/version "1.8.4"
                                :exclusions  [org.slf4j/slf4j-nop]}}
                  :main-opts  ["-m" "depot.outdated.main"
                               "-a" "dev,test,vers"]}}
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}}}
